.button {
  background-color: var(--primary);
  color: var(--text-over-primary);
  min-width: 24rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.8rem;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3.2rem 0rem;
  cursor: pointer;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
  color: var(--gray-900);
}

.button:hover {
  filter: brightness(80%);
}

.red {
  background-color: var(--error);
  color: var(--text-over-error);
}

.green {
  background-color: var(--primary);
  color: var(--text-over-primary);
}
